.message {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 400;
  }
  
.timeform {
    float: left;
    width: 100%;
  
    .timestamp{
        font-size: 1em;
    }
}
.avatar-doc{
    color: #004080 
}